@font-face {
  font-family: PlanetBenson;
  src: url('planetbe.ttf');
}
@font-face {
  font-family: Elektra;
  src: url('Elektra.ttf');
}
body {
  background-color: deeppink;
}
p {
  text-shadow: 8px 2px 8px #000;
  color: white;
  font-family: Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  text-shadow: 8px 2px 8px #000;
  color: white;
  text-align: center;
  font-family: Elektra;
}
.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: hotpink;
}
.nav li {
  float: left;
}
.nav li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: PlanetBenson;
}
.nav li a:hover, .dropdown:hover .dropbtn {
  background-color: pink;
}
.nav li.dropdown {
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ff4c4c;
  color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px crimson;
}
.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {background-color: #f1f1f1}
.dropdown:hover .dropdown-content {
  display: block;
}
.card {
  box-shadow: 0 4px 8px 0 crimson;
  transition: 0.3s;
  padding: 2px 16px;
  width: 250px;
  margin: auto;
  text-align: center;
  color: black;
  background-color: pink;
  border-radius: 10px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 crimson;
}
a {
  text-decoration: none;
  color: white;
  text-align: center;
}
.sidenav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: lime;
}
.sidenav li a {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}
.sidenav li a:hover {
  background-color: #28a428;
}
